html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

nav div a {
  text-decoration: none;
}

nav div {
  list-style-type: none;
}

.btn {
  display: inline-block;
  border-radius: 8px;
  border: solid 5px black;
  margin: 5px;
  padding: .4em .75em .3em;
}

.btn-big {
  font-size: 1.125rem;
}

.btn-small {
  font-size: 0.875rem;
}

.btn-warning {
  background-color: #f33;
  color: #fff;
  border: solid 5px #f33;
}

.btn-subtle {
  background-color: #ccc;
  color: #fff;
  border: solid 5px #ccc
}

.btn-primary {
  background-color: #666;
  color: #fff;
  border: solid 5px #666
}

.btn-ghost {
  background-color: #fff;
  color: #000;
  border: solid 5px #000
}
